{% extends "style.html" %}

{% block page_content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h2>Registrar</h2>
                </div>
                <div class="card-body">
                    <form method="POST" class="text-start" style="display: grid;">
                        {% csrf_token %}
                        {{form.as_p}}
                        <hr/>
                        <input type="submit" value="Registrar" class="btn btn-primary">
                    </form>
                    <hr/>
                    <p>Já tem uma Conta? <a href="{% url 'login' %}">Faça o Login</a>!</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}