{% extends "style.html" %}

{% block page_content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'investments' %}">MaxInvest</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'investments' %}">Meus Investimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stocks_list' %}">Ações da Bolsa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Entrar</a>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>

<h1 class="text-center mt-5">Remover Investimento</h1>

<div class="d-flex justify-content-center m-4">
    <a href="{% url 'investments' %}">
        <button class="btn btn-secondary">Cancelar</button>
    </a>
</div>

<div class="d-flex justify-content-center pt-0 p-5">
    <div class="card text-center">
        <div class="card-body">
            <form method="POST" class="text-center" style="display: grid;">
                {% csrf_token %}
                <h5>
                    Você tem certeza de que deseja
                    <br/>
                    remover o investimento <strong>{{investment.stock}}</strong>?
                </h5>
                <hr/>
                <input type="submit" value="Remover" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
{% endblock %}